<div class="wrapper">
  <div class="container">
    <mat-accordion *ngIf="!loading">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Personal Data</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="user.name"><span>Name: </span>{{user.name}} </p>
        <p *ngIf="user.firstSurname"><span>First Surname: </span> {{user.firstSurname}} </p>
        <p *ngIf="user.secondSurname"><span>Second Surname: </span> {{user.secondSurname}} </p>
        <p *ngIf="user.gender"><span>Gender: </span> {{user.gender}} </p>
        <p *ngIf="user.birthDate"><span>Birthdate: </span> {{user.birthDate}} </p>
        <p *ngIf="user.nif"> <span>DNI: </span> {{user.nif}} </p>
        <p *ngIf="user.userType"><span>User type: </span> {{user.userType}} </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Address</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="user.address.city"><span>City: </span> {{user.address.city}} </p>
        <p *ngIf="user.address.postalCode"><span>Address: </span>{{user.address.postalCode}} </p>
        <p *ngIf="user.address.streetName"><span>Street Name: </span> {{user.address.streetName}} </p>
        <p *ngIf="user.address.streetNumber"><span>Street Number: </span> {{user.address.streetNumber}} </p>
        <p *ngIf="user.address.doorNumber"><span>Door Number: </span> {{user.address.doorNumber}} </p>
      </mat-expansion-panel>
      <!-- #enddocregion basic-panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Medica Data</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="user.nhc"><span>NHC: </span> {{user.nhc}} </p>
        <mat-list *ngFor="let insurance of user.insuranceList">
          <mat-list-item *ngIf="insurance.cardNumber">
            <b>Card number:</b><span>{{ insurance.cardNumber }}</span>
          </mat-list-item>
          <mat-list-item *ngIf="insurance.insuranceCompanyName">
            <b>Insurance name:</b>
            <span>{{ insurance.insuranceCompanyName }}</span>
          </mat-list-item>
          <mat-list-item *ngIf="insurance.insuranceType">
            <b>Insurance type:</b>
            <span>{{ insurance.insuranceType }}</span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="button-back">
      <button mat-raised-button color="primary" type="button" [routerLink]="['/users']"> Volver </button>
    </div>


  </div>
</div>
