* {
  margin: 0;
  padding: 0;
}

mat-card {
  background: rgb(62, 99, 180);
  height: 10vh;
  padding: 0;
  border-radius: 0;
  display: grid;
  align-content: center;
  padding-left: 4em;

  & mat-card-title {
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;

    & p {
      padding-left: 1em;
      margin: 0;
      font-size: 1rem;
    }
  }

}

img {
  width: auto;
  max-height: 5vh;
}
