.container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container {
  height: 70vh;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

.filter {
  width: 100%;
  & mat-form-field {
    width: 100%;
  }
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

mat-icon {
  cursor: pointer;
}

.action-buttons-wrapper {
  width: 100%;
}
.action-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  & button {
    margin-right: 1em;
  }
}

.detail-icon {
  color: grey;
}

.edit-icon {
  color: rgb(77, 77, 192);
}

.delete-icon {
  color: rgb(192, 56, 56);
}

.my-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}

th,
td {
  text-align: center !important;
}

@media (max-width: 425px) {
  .hide {
    display: none !important;
  }
}
