<h2>user-list works!</h2>
<hr>
<button mat-raised-button color="primary" [routerLink]="['/users','new']">Nuevo Usuario</button>
<button mat-raised-button color="warn" (click)="onDeleteAllDoctors()">Borrar Profesionales</button>
<hr>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="onGetUsers()">
    <!--s usttituir por metodo que devuelve los post del servicio -->
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.first_surname}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.second_surname}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef> Icons </th>
      <td mat-cell *matCellDef="let element">

        <mat-icon [routerLink]="['/users',element.id]">cloud</mat-icon>

        <mat-icon [routerLink]="['/users/edit',element.id]">edit</mat-icon>

        <mat-icon (click)="onOpenDeleteDialog(element.id)">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
  </table>
</div>
