.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.example-container {
  height: 70vh;
  width: 80vw;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

mat-icon {
  cursor: pointer;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

.detail-icon {
  color: grey;
}

.edit-icon {
  color: rgb(77, 77, 192);
}

.delete-icon {
  color: rgb(192, 56, 56);
}
