<div class="container">
  <div class="action-buttons-wrapper">
    <div class="action-buttons">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/users', 'new']"
      >
        New User
      </button>
      <button mat-raised-button color="warn" (click)="deleteAllDoctors()">
        Delete Doctors
      </button>
    </div>
  </div>

  <div class="filter">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder=""
        #input
        #usersFilter
      />
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8 my-table">
    <table mat-table [dataSource]="users">
      <!-- Name Column -->
      <ng-container matColumnDef="nhc">
        <th mat-header-cell *matHeaderCellDef>NHC</th>
        <td mat-cell *matCellDef="let user">{{ user.nhc }}</td>
      </ng-container>
      <!-- medicalBoardNumber Column -->
      <ng-container matColumnDef="medicalBoardNumber">
        <th mat-header-cell *matHeaderCellDef>MBN</th>
        <td mat-cell *matCellDef="let user">{{ user.medicalBoardNumber }}</td>
      </ng-container>
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>
      <!-- firstSurname Column -->
      <ng-container matColumnDef="firstSurname">
        <th mat-header-cell *matHeaderCellDef>First Surname</th>
        <td mat-cell *matCellDef="let user">{{ user.firstSurname }}</td>
      </ng-container>
      <!-- icons Column -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef>Icons</th>
        <td mat-cell *matCellDef="let user">
          <mat-icon
            class="detail-icon"
            routerLink="/users/{{ user.nhc ? 'patients' : 'professionals' }}/{{
              user._id
            }}"
          >
            search</mat-icon
          >
          <mat-icon
            class="edit-icon"
            routerLink="/users/{{
              user.nhc ? 'patients' : 'professionals'
            }}/edit/{{ user._id }}"
            >edit</mat-icon
          >
          <mat-icon class="delete-icon" (click)="onOpenDeleteDialog(user)"
            >delete</mat-icon
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          <span *ngIf="users.data.length && usersFilter.value">
            No users matching the filter "{{ usersFilter.value }}"</span
          >
          <span *ngIf="!users.data.length"> There is no users</span>
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"> </mat-paginator>
  </div>
</div>
