<div class="global-container">
  <div class="stepper-container">

    <mat-horizontal-stepper linear #stepper>

      <!-- Personal Data -->

      <mat-step [stepControl]="personalForm">
        <form [formGroup]="personalForm">
          <ng-template matStepLabel>Personal Data</ng-template>
          <div class="form-step">
            <div>
              <button mat-raised-button color="primary" matStepperNext type="button" class="next-button">Next</button>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>First Surname</mat-label>
              <input matInput formControlName="firstSurname">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Second Surname</mat-label>
              <input matInput formControlName="secondSurname">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Gender</mat-label>
              <mat-select matInput formControlName="gender">
                <mat-option value='Male'>Male</mat-option>
                <mat-option value='Female'>Female</mat-option>
                <mat-option value='Other'>Other</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" appearance="fill">
              <mat-label>Birth Date</mat-label>
              <input matInput formControlName="birthDate" [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>NIF/Passport</mat-label>
              <input formControlName="nif" matInput autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>User Type</mat-label>
              <mat-select matInput formControlName="userType" #userType (selectionChange)="setUserType(userType.value)">
                <mat-option value="Patient">Patient</mat-option>
                <mat-option value="Professional">Professional</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-step>

      <!-- Address -->
      <mat-step [stepControl]="addressForm">
        <form [formGroup]="addressForm">
          <ng-template matStepLabel>Address</ng-template>
          <div class="form-step">
            <div class="next-button">
              <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button>
              <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Street</mat-label>
              <input matInput formControlName="streetName">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Number</mat-label>
              <input matInput formControlName="streetNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Door</mat-label>
              <input matInput formControlName="doorNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCode">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city">
            </mat-form-field>
          </div>
        </form>
      </mat-step>

      <!-- Patient Data -->
      <mat-step *ngIf="!isProfessional" [stepControl]="patientForm">
        <form [formGroup]="patientForm">
          <ng-template matStepLabel>Medical Data</ng-template>
          <div class="form-step">
            <div class="next-button">
              <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button>
              <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>NHC</mat-label>
              <input matInput formControlName="nhc">
            </mat-form-field>
            <div class="add-insurance-list" formArrayName="insuranceList">
              <button mat-raised-button color="primary" type="button" (click)="onAddInsurance()">Add Insurance</button>
              <div class="insurances-container" [formGroupName]="i"
                *ngFor="let insurance of getInsuranceList().controls; let i = index">
                <mat-form-field appearance="fill">
                  <mat-label>Insurance Company Name</mat-label>
                  <input matInput formControlName="insuranceCompanyName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Insurance Type</mat-label>
                  <input matInput formControlName="insuranceType">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Card Number</mat-label>
                  <input matInput formControlName="cardNumber">
                </mat-form-field>
                <!-- <button mat-button type="button" (click)="removeInsurance(i)">Borrar aseguradora</button> -->
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <!-- Professional Data -->
      <mat-step *ngIf="isProfessional" [stepControl]="professionalForm">
        <form [formGroup]="professionalForm">
          <ng-template matStepLabel>Medical Data</ng-template>
          <div class="form-step">
            <div class="next-button">
              <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button>
              <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Medical Board Number</mat-label>
              <input matInput formControlName="medicalBoardNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Professional Type</mat-label>
              <mat-select matInput formControlName="professionalType">
                <mat-option value='Doctor'>Doctor</mat-option>
                <mat-option value='Nurse'>Nurse</mat-option>
                <mat-option value='Administrative'>Administrative</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="final-buttons">
          <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button>
          <button mat-raised-button color="primary" type="submit" *ngIf="!userId" (click)="onSubmit()">Add User</button>
          <button mat-raised-button color="primary" type="submit" *ngIf="userId">Update</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="button-back">
    <button mat-raised-button color="warn" type="button" [routerLink]="['/users']">Back to home</button>
  </div>

</div>
